@media (max-width: 900px) {
    .adapt-head {
        font-size: 6rem;
        margin-bottom: -4rem;
    }
}

@media (max-width: 768px) {
    .adapt-head {
        font-size: 5rem;
        margin-bottom: -4rem;
    }
}

@media (max-width: 428px) {
    .adapt-head {
        font-size: 2.75rem;
        margin-bottom: -4rem;
    }
}
